# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1901791django_python_20_2\chap03_polls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
